/*Especificidad: 001*/
body {
    color:white;
    background-color: rgb(34, 32, 32);
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 4fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 10px;
    grid-auto-flow: row;
    font-size: larger;
}
/*Especificidad: 001*/
header { 
grid-area: 1 / 1 / 2 / 2;
}
/*Especificidad: 001*/
nav { grid-area: 2 / 1 / 3 / 2; }
/*Especificidad: 003*/
nav>menu>li{    
    float: left;
    list-style-type: none;
}
/*Especificidad: 002*/
li>a{
    display: block;
    padding: 8px;
    color:greenyellow;
    background-color: rgb(34, 32, 32); 
}
/*Especificidad: 001*/
main {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-area: 3 / 1 / 4 / 2;
}
/*Especificidad: 001*/
footer { grid-area: 4 / 1 / 5 / 2; }
/*Especificidad: 001*/
table{

    width: 100%;  
    table-layout: auto;
    border: 1px solid white;
      
}
/*Especificidad: 001*/
td {
    border: 1px solid blue;
    overflow: auto;
}
/*Especificidad: 001*/
img{
    width:15%;
    height: auto;
  }
  /*Especificidad: 002*/
h1,h2{
    font-size: larger;
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
/*Especificidad: 001*/
h3{
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    font-size:large;
}
/*Especificidad: 002*/
h4,nav{
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    font-size:medium;
}
/*Especificidad: 001*/
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
}