body {
    color:white;
    background-color: rgb(34, 32, 32);
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 2fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 10px;
    grid-auto-flow: row;
    font-size: larger;
}
header { 
grid-area: 1 / 1 / 2 / 2;
}
nav { grid-area: 2 / 1 / 3 / 2; }
nav>menu>li{    
    float: left;
    list-style-type: none;
}
li>a{
    display: block;
    padding: 8px;
    color:greenyellow;
}
main {
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 0.1fr,0.9fr ;
    grid-auto-flow: column;
    grid-area: 3 / 1 / 4 / 2;
  }
aside>section{
      display: grid;
     
}
footer { grid-area: 4 / 1 / 5 / 2; }
h1,h2{
    font-size: larger;
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
aside>section>label{
    font-size: larger;
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
h3{
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    font-size:large;
}
h4,nav{
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    font-size:medium;
}
p,textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
}
aside{
    display:grid;
}
img{
    padding-top: 5px;
    width:30%;
    height: auto;
  }
