body {
    color:white;
    background-color: rgb(34, 32, 32);
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 4fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 10px;
    grid-auto-flow: row;
    font-size: larger;
}
header { 
grid-area: 1 / 1 / 2 / 2;
}
nav { grid-area: 2 / 1 / 3 / 2; }
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "Sections Aside";
    grid-area: 3 / 1 / 4 / 2;
  }
article main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
}  
footer { grid-area: 4 / 1 / 5 / 2; }

nav>menu>li{    
    float: left;
    list-style-type: none;
}
li>a{
    display: block;
    padding: 8px;
    color:rgb(85, 85, 248);
}
aside{
    display:grid
}

aside h3{
    text-align: center;
}
article img{
    max-width: 100%;
    height: auto;
    min-width: 150px;
}
video{
    display: block;
  margin-left: auto;
  margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto;
}
audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1,h2{
    font-size: larger;
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
h3{
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    font-size:large;
}
h4,nav{
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    font-size:medium;
}
aside h4{
    text-align: center;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
}






    