body {
    color:white;
    background-color: rgb(34, 32, 32);
}

h1,h2,h3,nav{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
}
h1{
    font: larger;
}
h2{
    font: large;
}
h3{
    font: medium;
}
nav{
    font-size: medium;
    font-style: italic;
}
/**Especificidad: 002*/
h2>p{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h3>p{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    max-width: 100%; /*Problema que se muestre más grande que el tamaño real, se pixelará*/
    height: auto;
  }
  video{
    max-width: 100%;
    height: auto;
  }
  





    